﻿@using System.Net.Http.Json
@using DomainModels
@inject HttpClient httpClient
@inject AuthService authService
@page "/"


<h3>Bomberman</h3>

<!-- Make sure the div is focusable and listens for key events -->
<AuthorizeView>
    <Authorized>
        <MudText>
            Welcome to our game!
        </MudText>
    </Authorized>
    <NotAuthorized>
        <p>Log in to play the game and to get a chance to make it onto the leaderboard!</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private IEnumerable<Leaderboard> Elements = new List<Leaderboard>();

    protected override async Task OnInitializedAsync()
    {
        Elements = await authService.GetFrom<List<Leaderboard>>("/api/Leaderboard/all");
    }
}